.form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  display: inline-block;
  color: #333;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semibold {
  font-weight: 600;
}

mat-form-field {
  margin-bottom: 12px;
}

h1.login-text {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 30px;
}