<!-- <div class="d-flex align-items-center justify-content-between">
    <app-branding></app-branding>

    @if(showToggle) {
    <a href="javascript:void(0)" (click)="toggleMobileNav.emit()"
        class="d-flex justify-content-center ng-star-inserted icon-40 align-items-center mat-body-1">
        <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
    </a>
    }
</div> -->

<!-- ===================== -->
<!-- <div class="d-flex align-items-center justify-content-between">
    <app-branding></app-branding>

    @if(showToggle){
    <a href="javascript:void(0)" (click)="toggleMobileNav.emit()">

        <i-tabler name="x">
        </i-tabler>

    </a>
    }
</div>

<mat-nav-list>

    <app-nav-item *ngFor="let item of menuItems" [item]="item">
    </app-nav-item>

</mat-nav-list> -->


<div class="d-flex align-items-center justify-content-between">
  <app-branding></app-branding>

  @if(showToggle){
  <a href="javascript:void(0)"
     (click)="toggleMobileNav.emit()">

    <i-tabler name="x"></i-tabler>

  </a>
  }
</div>

<mat-nav-list class="sidebar-list">

  <app-nav-item
    *ngFor="let item of menuItems"
    [item]="item">
  </app-nav-item>

</mat-nav-list>