<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Add {{title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-lg-6" *ngIf="RoleID == 1">
          <mat-label class="f-w-600 m-b-8 d-block">Company</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="company_id" placeholder="Select Company">
              <mat-option *ngFor="let option of companyArr" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <validation-messages [control]="purchaseForm.controls.company_id"></validation-messages>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Purchase</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" placeholder="Purchase" formControlName="purchase" />
          </mat-form-field>
          <validation-messages [control]="purchaseForm.controls.purchase"></validation-messages>
          <div *ngIf="purchaseForm.controls.purchase.touched && purchaseForm.controls.purchase.errors?.pattern"
            class="error-text">
            Only letters, numbers and (. _ &amp; &#64; # $ % ^ -) are allowed
          </div>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Purchase ID</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Purchase ID" formControlName="purchase_id" />
          </mat-form-field>
          <validation-messages [control]="purchaseForm.controls.purchase_id"></validation-messages>
          <div *ngIf="purchaseForm.controls.purchase_id.touched && purchaseForm.controls.purchase_id.errors?.pattern"
            class="error-text">
            Only letters, numbers and (. _ &amp; &#64; # $ % ^ -) are allowed
          </div>
        </div>
 
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Purchase Type</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select placeholder="Select Purchase Type" formControlName="purchase_type">
              <mat-option *ngFor="let type of purchaseTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <validation-messages [control]="purchaseForm.controls.purchase_type"></validation-messages>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Product Input</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="product_input" placeholder="Select Option">
              <mat-option [value]="1">Yes</mat-option>
              <mat-option [value]="0">No</mat-option>
            </mat-select>
          </mat-form-field>
          <validation-messages [control]="purchaseForm.controls.product_input"></validation-messages>
        </div>
        <div formArrayName="yearlyCostData" class="col-12 mt-3">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <mat-label class="f-w-600">Yearly Cost Details</mat-label>
            <button mat-stroked-button color="primary" type="button" (click)="addYearCostGroup()">
              <mat-icon>add</mat-icon> Add Year
            </button>
          </div>

          <div *ngFor="let group of yearlyCostData.controls; let i = index" [formGroupName]="i"
            class="row align-items-end mb-2">
            


            <div class="col-lg-5">
              <mat-label class="f-w-600 m-b-8 d-block">Year</mat-label>

              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="year" [matDatepicker]="yearPicker" readonly placeholder="Select Year"
                  (click)="yearPicker.open()" autocomplete="off" />

                <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>

                <mat-datepicker #yearPicker startView="multi-year" (yearSelected)="selectYear($event, yearPicker, i)"
                  panelClass="year-picker"></mat-datepicker>
              </mat-form-field>

              <div *ngIf="
                          group.get('year')?.touched &&
                          group.get('year')?.errors?.['required']
                        " class="error-text">
                Year is required
              </div>

              <div *ngIf="
                          group.get('year')?.touched &&
                          group.get('year')?.errors?.['duplicateYear']
                        " class="error-text">
                This year is already added, please select another year.
              </div>
            </div>



            <div class="col-lg-5">
              <mat-label class="f-w-600 m-b-8 d-block">Cost</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <!-- <input type="number" matInput placeholder="Enter Cost" formControlName="cost" /> -->
             <input
  matInput
  placeholder="Enter Cost"
  formControlName="cost"
  pattern="^[0-9]+$"
  inputmode="numeric"
  (input)="onNumberInput($event, group)"
/>

              </mat-form-field>
              <div *ngIf="group.get('cost')?.touched && group.get('cost')?.errors?.['required']" class="error-text">
                Cost is required
              </div>
            </div>

            <div class="col-lg-2 d-flex justify-content-start">
              <button mat-mini-fab color="warn" [disabled]="yearlyCostData.length == 1" class="remove-btn" type="button"
                (click)="removeYearCostGroup(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="m-t-12">
        <button type="submit" mat-flat-button color="primary" class="m-r-8" [disabled]="loading || !purchaseForm.valid">
          <span *ngIf="!loading">Submit</span>
          <mat-spinner *ngIf="loading" [diameter]="40" color="accent"></mat-spinner>
        </button>
        <a [routerLink]="['/purchase']" mat-stroked-button color="warn">
          Cancel
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>