<form [formGroup]="parentForm">
  <h2>
    {{ goal.goal_code }} - {{ goal.goal_name }} - ({{goal.goal_short_name}})
    <mat-icon class="info-icon" (click)="openHelpDialog(goal.fitness_criteria, goal.notes)" aria-label="Help">
      info
    </mat-icon>
    <button (click)="toggleIndicators()" class="elegant-toggle-btn">
      <span class="label">{{ showIndicators ? 'Hide Indicators' : 'Show Indicators' }}</span>
      <mat-icon class="chevron" [@rotateChevron]="showIndicators ? 'expanded' : 'collapsed'">expand_more</mat-icon>
    </button>
    <button class="elegant-toggle-btn progress-btn" type="button" (click)="openProgressGraph()">
      <span class="label">Progress Graph</span>
    </button>
  </h2>
  <div class="indicator-grid" *ngIf="showIndicators" [@indicatorExpand]>
    <!-- Table Headers -->
    <div class="grid-header year-header">Year</div>
    <div class="grid-header progress-header span-2">Progress Indicator</div>
    <div class="grid-header context-header span-2">Context Indicator</div>
    <div class="grid-header unit-header">Unit</div>
    <div class="grid-header completeness-header">Data Completeness</div>

    <!-- Top Year Record -->
    <ng-container *ngIf="uniqueYearsFromFitnessInputs.length > 0">
      <ng-container *ngFor="let pi of goal.ProgressIndicators; let i = index; let isFirst = first">
        <div *ngIf="isFirst" class="grid-item year-cell" [attr.rowspan]="goal.ProgressIndicators.length">
          {{ uniqueYearsFromFitnessInputs[0] }}
        </div>
        <div class="grid-item progress-label">{{ pi.progress_indicator }}</div>
        <div class="grid-item highlight progress-value">{{
          calculateProgressIndicator(uniqueYearsFromFitnessInputs[0]) }}</div>
        <div class="grid-item context-indicator">{{ goal.ContextIndicators[i]?.context_indicator || '-' }}</div>
        <div class="grid-item highlight context-indicator">{{
          calculateContextIndicator(uniqueYearsFromFitnessInputs[0]) }}</div>
        <div class="grid-item unit-cell">{{ goal.ContextIndicators[i]?.unit || '-' }}</div>
        <div class="grid-item highlight data-completeness">{{
          calculateDataCompleteness(uniqueYearsFromFitnessInputs[0]) }}</div>
      </ng-container>
      <ng-container *ngFor="let ci of goal.ContextIndicators; let i = index">
        <ng-container *ngIf="i >= goal.ProgressIndicators.length">
          <div class="grid-item">{{ ci.context_indicator || '-' }}</div>
          <div class="grid-item highlight">{{ calculateContextIndicator(uniqueYearsFromFitnessInputs[0]) }}</div>
          <div class="grid-item">{{ ci.unit || '-' }}</div>
          <div class="grid-item highlight">{{ calculateDataCompleteness(uniqueYearsFromFitnessInputs[0])}}</div>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Collapsed Row -->
    <div class="grid-item full-width-row" *ngIf="uniqueYearsFromFitnessInputs.length > 1"
      (click)="showRemaining = !showRemaining">
      <span>View {{ uniqueYearsFromFitnessInputs.length - 1 }} more years</span>
      <span class="arrow-icon">{{ showRemaining ? '▲' : '▼' }}</span>
    </div>

    <!-- Remaining Years -->
    <ng-container *ngIf="showRemaining">
      <ng-container *ngFor="let year of uniqueYearsFromFitnessInputs.slice(1)">
        <ng-container *ngFor="let pi of goal.ProgressIndicators; let i = index; let isFirst = first">
          <div *ngIf="isFirst" class="grid-item year-cell" [attr.rowspan]="goal.ProgressIndicators.length">
            {{ year }}
          </div>
          <div class="grid-item progress-label">{{ pi.progress_indicator }}</div>
          <div class="grid-item highlight progress-value">{{ calculateProgressIndicator(year) }}</div>
          <div class="grid-item context-indicator">{{ goal.ContextIndicators[i]?.context_indicator || '-' }}
          </div>
          <div class="grid-item highlight context-indicator">{{ calculateContextIndicator(year) }}</div>
          <div class="grid-item unit-cell">{{ goal.ContextIndicators[i]?.unit || '-' }}</div>
          <div class="grid-item highlight data-completeness">{{ calculateDataCompleteness(year) }}</div>
        </ng-container>

        <!-- Extra ContextIndicators -->
        <ng-container *ngFor="let ci of goal.ContextIndicators; let i = index">
          <ng-container *ngIf="i >= goal.ProgressIndicators.length">
            <div class="grid-item">{{ ci.context_indicator || '-' }}</div>
            <div class="grid-item highlight">{{ calculateContextIndicator(year) }}</div>
            <div class="grid-item">{{ ci.unit || '-' }}</div>
            <div class="grid-item highlight">{{ calculateDataCompleteness(year) }}</div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="employee!.length > 0">
    <div [formArrayName]="arrayName" class="sites-container">
      <mat-accordion class="sites-accordion">
        <mat-expansion-panel *ngFor="let employe of employee.controls; let i = index" [formGroupName]="i"
          (opened)="calculate.emit()" class="site-panel">
          <mat-expansion-panel-header class="site-panel-header">
            <div class="site-header">
              <div class="site-header-item">
                <span class="heading">Employee Group:</span>
                <span class="site-title">{{ employe.get('employeeGroup')?.value || '-' }}</span>
              </div>
              <div class="site-header-item">
                <span class="heading">Employee Group ID:</span>
                <span class="site-title">{{ employe.get('employeeGroupId')?.value || '-' }}</span>
              </div>
              <div class="site-header-item">
                <span class="heading">Site Name:</span>
                <span class="site-title">{{ employe.get('employeeSite')?.value|| '-' }}</span>
              </div>

              <div class="site-header-item">
                <span class="heading">Site Location:</span>
                <span class="site-title">{{ employe.get('siteLocation')?.value || '-' }}</span>
              </div>
            </div>

          </mat-expansion-panel-header>
          <div class="panel-content">
            <div formArrayName="fitnessInputs" class="fitness-inputs-container">

              <div class="fitness-inputs-header">
                <h3 class="fitness-inputs-title">Progress indicator data</h3>
                <button mat-flat-button color="primary" type="button" (click)="addFitnessInput(i)">Add progress
                  data</button>
              </div>

              <mat-expansion-panel *ngFor="let input of getFitnessInputs(employe).controls; let j = index"
                [formGroupName]="j" class="row fitness-input-row">
                <mat-expansion-panel-header class="site-panel-header fitness-inputs-header">
                  <div class="site-header">
                    <div class="site-header-item">
                      <span class="site-title" *ngIf="isValidYearShow(input.get('year')?.value); else selectYear">
                        {{ input.get('year')?.value | date:'yyyy' }}
                      </span>

                      <ng-template #selectYear>

                      </ng-template>

                    </div>
                  </div>
                </mat-expansion-panel-header>

                <div class="row fitness-input-row">

                  <div class="row">

                    <div class="col-md-3">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Relevance</mat-label>
                        <mat-select formControlName="relevance" (selectionChange)="calculate.emit()">
                          <mat-option *ngFor="let option of relevantsArr" [value]="option.id">
                            {{ option.name }}
                          </mat-option>

                        </mat-select>
                        <mat-error
                          *ngIf="employe.get('relevance')?.hasError('required') && employe.get('relevance')?.touched">
                          Relevance is required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field appearance="outline" class="w-100 fitness-input-field">
                        <mat-label>Year</mat-label>
                        <input matInput [matDatepicker]="yearPicker" formControlName="year" readonly
                          (click)="yearPicker.open()" />
                        <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
                        <mat-datepicker #yearPicker startView="multi-year"
                          (yearSelected)="setYear($event, yearPicker, i, j)" panelClass="year-picker"
                          [startAt]="startYear">
                        </mat-datepicker>
                        <mat-error *ngIf="input.get('year')?.hasError('duplicateYear') && input.get('year')?.touched">
                          This year is already in site.
                        </mat-error>
                        <mat-error *ngIf="input.get('year')?.hasError('required') && input.get('year')?.touched">
                          Year is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field appearance="outline" class="w-100 fitness-input-field">
                        <mat-label>Fitness No Employees</mat-label>
                        <input matInput type="text" appNumberFormatter readonly
                          formControlName="fitnessnumber_of_employees" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Employee Fitness</mat-label>
                        <input type="text" matInput formControlName="employee_fitness_percentage" readonly />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="criteria-section">
                    <h4 class="criteria-header">Anti-discrimination policy</h4>
                    <div class="criteria-grid">
                      <mat-checkbox formControlName="clear_policy_commitment" class="criteria-item"> Clearly stated
                        position
                        and commitment to being a discrimination-free workplace</mat-checkbox>
                      <mat-checkbox formControlName="senior_official_responsible" class="criteria-item"> Senior official
                        responsible for discrimination and equity issues</mat-checkbox>
                    </div>
                  </div>

                  <div class="criteria-section">
                    <h4 class="criteria-header">Directive and preventive measures</h4>
                    <div class="criteria-grid">
                      <mat-checkbox formControlName="policy_communicated" class="criteria-item">Policy actively
                        communicated
                        to employees</mat-checkbox>
                      <mat-checkbox formControlName="policy_in_hr_practices" class="criteria-item">Policy part of
                        recruitment,
                        training, performance evaluations and compensation guidelines</mat-checkbox>
                    </div>
                  </div>

                  <div class="criteria-section">
                    <h4 class="criteria-header">Corrective measures</h4>
                    <div class="criteria-grid">
                      <mat-checkbox formControlName="reporting_procedure_available" class="criteria-item">Procedures in
                        place
                        to report discrimination or breaches of the anti-discrimination policy</mat-checkbox>
                      <mat-checkbox formControlName="actions_and_feedback_documented" class="criteria-item">Actions
                        taken
                        and
                        feedback received documented for internal reference</mat-checkbox>
                    </div>
                  </div>
                  <div class="criteria-section">
                    <h4 class="criteria-header">Monitoring</h4>
                    <div class="criteria-grid">
                      <mat-checkbox formControlName="control_effectiveness_assessed" class="criteria-item">
                        Effectiveness
                        of
                        anti-discrimination controls regularly assessed</mat-checkbox>
                      <mat-checkbox formControlName="controls_adjusted_if_needed" class="criteria-item"> When needed,
                        steps
                        are taken to adjust the controls</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100 comments-field">
                      <mat-label>Comments</mat-label>
                      <textarea matInput formControlName="comments" rows="4"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-1 text-right">
                    <button mat-icon-button color="warn" type="button" (click)="removeFitnessInput(i, j)"
                      [disabled]="getFitnessInputs(employe).length == 1" matTooltip="Remove this entry">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-expansion-panel>

            </div>
          </div>

          <!-- ========== -->

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="next-button-wrapper">
      <button mat-flat-button color="primary" class="custom-submit-btn" type="button" (click)="submitForm()">
        <span *ngIf="!loading">Submit</span>
        <mat-spinner *ngIf="loading" [diameter]="40" color="accent"></mat-spinner></button>
    </div>
  </ng-container>
</form>

<ng-template #progressGraphDialog>

  <div class="dialog-header">

    <h2 mat-dialog-title>
      Annual Progress Trajectory
    </h2>

    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <mat-dialog-content>

    <div class="graph-container">
      <div class="left-graph" *ngIf="chartOptions">
        <div class="context-unit" *ngIf="contextUnit">
          {{ contextUnit }}
        </div>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [plotOptions]="chartOptions.plotOptions">
        </apx-chart>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>