<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Edit {{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <form [formGroup]="financialAssetForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">


        <div class="col-lg-6" *ngIf="RoleID == 1">
          <mat-label class="f-w-600 m-b-8 d-block">Company</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="company_id" placeholder="Select Company">
              <mat-option *ngFor="let option of companyArr" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <validation-messages [control]="financialAssetForm.controls.company_id"></validation-messages>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Financial Asset</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Financial Asset" formControlName="financial_asset" />
          </mat-form-field>
          <validation-messages [control]="financialAssetForm.controls.financial_asset"></validation-messages>
          <div
            *ngIf="financialAssetForm.controls.financial_asset.touched && financialAssetForm.controls.financial_asset.errors?.pattern"
            class="error-text">
            Only letters, numbers and (. _ &amp; &#64; # $ % ^ -) are allowed
          </div>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Financial Asset ID</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Financial Asset ID" formControlName="financial_asset_id" />
          </mat-form-field>
          <validation-messages [control]="financialAssetForm.controls.financial_asset_id"></validation-messages>
          <div
            *ngIf="financialAssetForm.controls.financial_asset_id.touched && financialAssetForm.controls.financial_asset_id.errors?.pattern"
            class="error-text">
             Only letters, numbers and (. _ &amp; &#64; # $ % ^ -) are allowed 
          </div>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Purchase Date</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="purchasePicker" readonly placeholder="Select Purchase Date"
              formControlName="purchase_date" />
            <mat-datepicker-toggle matSuffix [for]="purchasePicker"></mat-datepicker-toggle>
            <mat-datepicker #purchasePicker></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="financialAssetForm.controls.purchase_date.touched && financialAssetForm.controls.purchase_date.errors?.required"
            class="error-text">
            Purchase date is required
          </div>
        </div>

        <!-- Sale Date -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Sale Date</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="salePicker" readonly placeholder="Select Sale Date"
              formControlName="sale_date" />
            <mat-datepicker-toggle matSuffix [for]="salePicker"></mat-datepicker-toggle>
            <mat-datepicker #salePicker></mat-datepicker>
          </mat-form-field>
        </div>


      </div>
      <div formArrayName="monetaryYearData" class="col-12 mt-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <mat-label class="f-w-600">Yearly Monetary Values</mat-label>
          <button mat-stroked-button color="primary" type="button" (click)="addMonetaryYearGroup()">
            <mat-icon>add</mat-icon> Add Entry
          </button>
        </div>

        <div *ngFor="let group of monetaryYearData.controls; let i = index" [formGroupName]="i"
          class="row align-items-end mb-2">
          <div class="col-lg-5">
            <mat-label class="f-w-600 m-b-8 d-block">Year</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [value]="getYearDisplay(i)" readonly (click)="openYearPicker(yearPicker)"
                placeholder="Select Year" />
              <input matInput [matDatepicker]="yearPicker" style="display: none" />

              <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>

              <mat-datepicker #yearPicker startView="multi-year"
                (yearSelected)="chosenYearHandler($event, yearPicker, i)" panelClass="year-picker"
                (monthSelected)="$event.stopPropagation()"></mat-datepicker>

            </mat-form-field>



            <div *ngIf="group.get('year')?.touched && group.get('year')?.errors?.['required']" class="error-text">
              Date is required
            </div>

            <div *ngIf="group.get('year')?.touched && group.get('year')?.errors?.['duplicateDate']" class="error-text">
              This year is already added, please select another year.
            </div>
          </div>




          <div class="col-lg-5">
            <mat-label class="f-w-600 m-b-8 d-block">Monetary Value</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <!-- <input type="number" matInput placeholder="Enter Value" formControlName="monetary_value" /> -->
            <input
  matInput
  placeholder="Enter Value"
  formControlName="monetary_value"
  
  inputmode="numeric"
  (input)="onNumberInput($event, group)"
/>

            </mat-form-field>
            <div *ngIf="group.get('monetary_value')?.touched && group.get('monetary_value')?.errors?.['required']"
              class="error-text">
              Value is required
            </div>
          </div>

          <div class="col-lg-2 d-flex justify-content-start">
            <button mat-mini-fab color="warn" type="button" class="remove-btn" [disabled]="monetaryYearData.length == 1"
              (click)="removeMonetaryYearGroup(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </div>





      <div class="m-t-12">
        <button type="submit" mat-flat-button color="primary" class="m-r-8"
          [disabled]="loading || !financialAssetForm.valid">
          <span *ngIf="!loading">Update</span>
          <mat-spinner *ngIf="loading" [diameter]="40" color="accent"></mat-spinner>
        </button>
        <a [routerLink]="['/financial']" mat-stroked-button color="warn">
          Cancel
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>