.error-text {
  color: red;
  font-size: 14px;
}
 
.remove-btn {
  transform: scale(0.8);
 // margin-bottom: 8px;
  margin-bottom: 12%;
}
 
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 5px;
}

.m-b-8 {
  margin-bottom: 8px;
}
